.btn-primary{

    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 1em;
    margin-bottom: 1em;

    height: 3em;
    width: 3em;
    background-image: url("./up.svg");
    background-size: cover;
    background-color: #FFFEFF;
    color: red;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    transition: 200ms;

}

.btn-primary:hover{
    cursor: pointer;
    background-color: #d3d3d3;
}

